@using StateMachineDemoShared
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <base href="/" />
    <link href="_content/Masa.Blazor/css/masa-blazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/ssr.css" />
    <link rel="stylesheet" href="PIChip.WebServerDemo.styles.css" />
    <link href=@("https://cdn.masastack.com/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css") rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/materialicons/materialicons.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/fontawesome/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/drawflow/0.0.59/drawflow.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    @* <div class="status-bar-safe-area"></div> *@

    <StateMachineDemoShared.Main @rendermode="@InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Masa.Blazor/js/masa-blazor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>

    <script>
        let lastActivityTime = new Date();

        function updateLastActivityTime() {
            lastActivityTime = new Date();
        }

        function getLastActivityTime() {
            return lastActivityTime.getTime();
        }

        document.addEventListener('mousemove', updateLastActivityTime);
        document.addEventListener('keypress', updateLastActivityTime);
        document.addEventListener('click', updateLastActivityTime);

        function captureScreenshot() {
            return html2canvas(document.body).then(canvas => {
                return canvas.toDataURL("image/png");
            });
        }
    </script>

    <script>
        window.addEventListener('mousewheel', function (event) {
            if (event.ctrlKey === true || event.metaKey) {
                event.preventDefault();
            }
        }, { passive: false });
    </script>

</body>

</html>